# Environments
.venv/
**/.env

# Python
**/__pycache__/
*.pyc

# VS
*.vs/

# Data
Data/post-operative-data.pickle
temp_pickle_data/*
Data/post-operative.data
Data/class.csv
Data/zoo.csv

# Powerpoint
presentation/~$Demo.pptx